
html, body {
    background: #222;
    color: #fff;
    text-align: center;
}

body {
    padding: 60px;
}

h1 {
    color: #fff;
    font: 25px/28px Georgia, serif;
    margin: 50px 0;
}

h1 span {
    color: #bbb;
}

div.slideshow {
    margin: 0 auto;
    width: 413px;
}
